In [6]:
#imports
import pandas as pd

stocks.csv contient le r√©sultat de 150 pages pour house et appartements

In [7]:
pd.options.display.max_columns = None

In [8]:
d= "quick.csv"

In [9]:
data = pd.read_csv(d)

In [10]:
data.head(5)

,id,type,subtype,price,transactionType,zip,visualisationOption,cuisine_type,constructionYear,condition,heatingType,primaryEnergyConsumptionLevel,room_number,surface,atticExists,basementExists,hasSwimmingPool,indoor,outdoor,short_id,company_name,m2,commune
0,9043036,apartment,apartment,195000,for sale,9600,xl,installed,2014.0,good,gas,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1002634,immo beguin,75,Renaix
1,9041098,apartment group,apartment group,165000 - 420000,for sale,6001,xl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1400721,concept confort sprl,64,Marcinelle
2,9042073,apartment,apartment,320000,for sale,1070,xl,usa hyper equipped,2017.0,as new,gas,NaN,3.0,NaN,NaN,True,NaN,1.0,1.0,2916018,sky realty,130,Anderlecht
3,9042129,apartment group,apartment group,336000 - 610000,for sale,1000,xl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2575488,we invest real estate,94,Bruxelles
4,9042175,apartment group,apartment group,127000 - 166000,for sale,1160,xl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2575488,we invest real estate,19,Auderghem

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             60 non-null     int64
 1   type                           60 non-null     object
 2   subtype                        60 non-null     object
 3   price                          60 non-null     object
 4   transactionType                60 non-null     object
 5   zip                            60 non-null     int64
 6   visualisationOption            60 non-null     object
 7   cuisine_type                   52 non-null     object
 8   constructionYear               52 non-null     float64
 9   condition                      52 non-null     object
 10  heatingType                    51 non-null     object
 11  primaryEnergyConsumptionLevel  0 non-null      float64
 12  room_number                    52 non-null     float64
 13  surface                        18 non-null     float64
 14  atticExists                    8 non-null      object
 15  basementExists                 35 non-null     object
 16  hasSwimmingPool                1 non-null      object
 17  indoor                         30 non-null     float64
 18  outdoor                        31 non-null     float64
 19  short_id                       60 non-null     int64
 20  company_name                   54 non-null     object
 21  m2                             60 non-null     int64
 22  commune                        60 non-null     object
dtypes: float64(6), int64(4), object(13)
memory usage: 10.9+ KB

 # Exploring datas

In [ ]:
data["cuisine_type"].value_counts()

- Remplacer les null par installed? les supprimer?

In [ ]:
data["constructionYear"].value_counts()

In [ ]:
data["condition"].value_counts()

In [ ]:
data["heatingType"].value_counts()

In [ ]:
data["atticExists"].value_counts()#assume rest is false

In [ ]:
data["basementExists"].value_counts()#assume rest is false

In [ ]:
data["hasSwimmingPool"].value_counts()#assume rest is false

In [ ]:
#data["indoor"].value_counts() ??

In [ ]:
#data["outdoor"].value_counts() ??

In [ ]:
data.describe()

 # Premi√®res modifs

In [ ]:
data.rename(columns={'m2':"m√®tres carr√©s"},inplace=True)

In [ ]:
del data["surface"]
del data["primaryEnergyConsumptionLevel"]

In [ ]:
data.columns

### Replacing  missing value in data["atticExists"]

In [ ]:
attics = data["atticExists"]

In [ ]:
attics.value_counts()

In [ ]:
attics.fillna("False",inplace= True)

In [ ]:
attics.value_counts()

In [ ]:
data["atticExists"] =attics

In [ ]:
data["atticExists"].value_counts()

#### Replacing  missing value in data["constructionYear"]
https://pandas.pydata.org/docs/user_guide/missing_data.html#filling-missing-values-fillna

In [ ]:
construction = data["constructionYear"]

In [ ]:
construction.fillna(method="bfill",inplace=True)

In [ ]:
data["constructionYear"] = construction

#### Doing the same with data["hasSwimmingPool"] and data["basementExists"]
#### and data["cuisine_type"]

In [ ]:
data["hasSwimmingPool"].fillna("False",inplace= True)
data["basementExists"].fillna("False",inplace= True)
data["cuisine_type"].fillna("No infos",inplace= True)

## Let's see :

In [ ]:
data.info()

#### condition, heatingtype,room_number and company_name need to be dealt with

In [ ]:
data["heatingType"].fillna(method='pad',inplace=True)
data["condition"].fillna(method='pad',inplace=True)
data["room_number"].fillna(method='pad',inplace=True)

In [ ]:
data["company_name"].fillna("No agency",inplace=True)

In [ ]:
data.info()

TODO :Indoor and outdoor could probably be merge