In [53]:
#imports
import pandas as pd

stocks.csv contient le r√©sultat de 150 pages pour house et appartements

In [54]:
pd.options.display.max_columns = None

In [55]:
d= "stocks.csv"

In [56]:
data = pd.read_csv(d)

In [57]:
data.head(5)

,id,type,subtype,price,transactionType,zip,visualisationOption,cuisine_type,constructionYear,condition,heatingType,primaryEnergyConsumptionLevel,room_number,surface,atticExists,basementExists,hasSwimmingPool,indoor,outdoor,short_id,company_name,m2,commune
0,9043036,apartment,apartment,195000,for sale,9600,xl,installed,2014.0,good,gas,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1002634,immo beguin,75,Renaix
1,9041098,apartment group,apartment group,165000 - 420000,for sale,6001,xl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1400721,concept confort sprl,64,Marcinelle
2,9034494,apartment,apartment,715000,for sale,1950,xl,usa hyper equipped,2020.0,as new,gas,NaN,2.0,NaN,NaN,True,NaN,1.0,1.0,2352,latour et petit vente,126,Kraainem
3,9042175,apartment group,apartment group,127000 - 166000,for sale,1160,xl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2575488,we invest real estate,19,Auderghem
4,9039019,apartment,apartment,1550000,for sale,1050,xl,usa hyper equipped,2017.0,as new,gas,NaN,3.0,NaN,NaN,NaN,NaN,NaN,1.0,2595964,lecobel vaneau vente neuf,213,Ixelles

In [58]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8930 entries, 0 to 8929
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             8930 non-null   int64
 1   type                           8930 non-null   object
 2   subtype                        8930 non-null   object
 3   price                          8930 non-null   object
 4   transactionType                8930 non-null   object
 5   zip                            8930 non-null   int64
 6   visualisationOption            8930 non-null   object
 7   cuisine_type                   7015 non-null   object
 8   constructionYear               5871 non-null   float64
 9   condition                      7136 non-null   object
 10  heatingType                    6964 non-null   object
 11  primaryEnergyConsumptionLevel  0 non-null      float64
 12  room_number                    8096 non-null   float64
 13  surface                        1983 non-null   float64
 14  atticExists                    1407 non-null   object
 15  basementExists                 4394 non-null   object
 16  hasSwimmingPool                294 non-null    object
 17  indoor                         3693 non-null   float64
 18  outdoor                        3002 non-null   float64
 19  short_id                       8930 non-null   int64
 20  company_name                   8293 non-null   object
 21  m2                             8930 non-null   int64
 22  commune                        8930 non-null   object
dtypes: float64(6), int64(4), object(13)
memory usage: 1.6+ MB

 # Exploring datas

In [59]:
data["cuisine_type"].value_counts()

installed             2993
hyper equipped        1684
semi equipped          925
usa hyper equipped     759
not installed          398
usa installed          186
usa semi equipped       61
usa uninstalled          9
Name: cuisine_type, dtype: int64

- Remplacer les null par installed? les supprimer?

In [60]:
data["constructionYear"].value_counts()

2020.0    428
2019.0    292
2018.0    171
1930.0    154
1970.0    147
         ...
1803.0      1
1782.0      1
1834.0      1
1837.0      1
1820.0      1
Name: constructionYear, Length: 170, dtype: int64

In [61]:
data["condition"].value_counts()

as new            2755
good              2626
to be done up      642
to renovate        563
just renovated     518
to restore          32
Name: condition, dtype: int64

In [62]:
data["heatingType"].value_counts()

gas         4921
fueloil     1478
electric     472
pellet        73
wood           8
carbon         8
solar          4
Name: heatingType, dtype: int64

In [63]:
data["atticExists"].value_counts()#assume rest is false

True    1407
Name: atticExists, dtype: int64

In [64]:
data["basementExists"].value_counts()#assume rest is false

True    4394
Name: basementExists, dtype: int64

In [65]:
data["hasSwimmingPool"].value_counts()#assume rest is false

True    294
Name: hasSwimmingPool, dtype: int64

In [66]:
#data["indoor"].value_counts() ??

In [67]:
#data["outdoor"].value_counts() ??

In [68]:
data.describe()

,id,zip,constructionYear,primaryEnergyConsumptionLevel,room_number,surface,indoor,outdoor,short_id,m2
count,8.930000e+03,8930.000000,5871.000000,0.0,8096.000000,1983.000000,3693.000000,3002.000000,8.930000e+03,8930.000000
mean,8.821395e+06,4677.003919,1976.856924,NaN,3.044219,1209.682804,12.394259,4.379747,1.784001e+06,168.532587
std,3.427336e+05,3104.424207,40.032972,NaN,1.710563,5266.197009,576.042171,11.813291,1.202479e+06,138.481378
min,3.702839e+06,1000.000000,1776.000000,NaN,0.000000,1.000000,1.000000,1.000000,1.410000e+03,1.000000
25%,8.797262e+06,1380.000000,1958.000000,NaN,2.000000,90.000000,1.000000,1.000000,6.824080e+05,90.000000
50%,8.936056e+06,4400.000000,1980.000000,NaN,3.000000,275.000000,1.000000,2.000000,1.861704e+06,130.000000
75%,9.000496e+06,8300.000000,2012.000000,NaN,4.000000,800.000000,2.000000,4.000000,2.844130e+06,205.000000
max,9.043802e+06,9990.000000,2022.000000,NaN,41.000000,80000.000000,35000.000000,250.000000,3.675261e+06,2300.000000

 # Premi√®res modifs

In [69]:
data.rename(columns={'m2':"m√®tres carr√©s"},inplace=True)

In [70]:
del data["surface"]
del data["primaryEnergyConsumptionLevel"]

In [71]:
data.columns

Index(['id', 'type', 'subtype', 'price', 'transactionType', 'zip',
       'visualisationOption', 'cuisine_type', 'constructionYear', 'condition',
       'heatingType', 'room_number', 'atticExists', 'basementExists',
       'hasSwimmingPool', 'indoor', 'outdoor', 'short_id', 'company_name',
       'm√®tres carr√©s', 'commune'],
      dtype='object')

### Replacing  missing value in data["atticExists"]

In [ ]:
attics = data["atticExists"]

In [73]:
attics.value_counts()

True    1407
Name: atticExists, dtype: int64

In [74]:
attics.fillna("False",inplace= True)

In [75]:
attics.value_counts()

False    7523
True     1407
Name: atticExists, dtype: int64

In [76]:
data["atticExists"] =attics

In [77]:
data["atticExists"].value_counts()

False    7523
True     1407
Name: atticExists, dtype: int64

#### Replacing  missing value in data["constructionYear"]
https://pandas.pydata.org/docs/user_guide/missing_data.html#filling-missing-values-fillna

In [81]:
construction = data["constructionYear"]

In [85]:
construction.fillna(method="bfill",inplace=True)

In [84]:
data["constructionYear"] = construction

#### Doing the same with data["hasSwimmingPool"] and data["basementExists"]
#### and data["cuisine_type"]

In [90]:
data["hasSwimmingPool"].fillna("False",inplace= True)
data["basementExists"].fillna("False",inplace= True)
data["cuisine_type"].fillna("No infos",inplace= True)

## Let's see :

In [91]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8930 entries, 0 to 8929
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   8930 non-null   int64
 1   type                 8930 non-null   object
 2   subtype              8930 non-null   object
 3   price                8930 non-null   object
 4   transactionType      8930 non-null   object
 5   zip                  8930 non-null   int64
 6   visualisationOption  8930 non-null   object
 7   cuisine_type         8930 non-null   object
 8   constructionYear     8930 non-null   float64
 9   condition            7136 non-null   object
 10  heatingType          6964 non-null   object
 11  room_number          8096 non-null   float64
 12  atticExists          8930 non-null   object
 13  basementExists       8930 non-null   object
 14  hasSwimmingPool      8930 non-null   object
 15  indoor               3693 non-null   float64
 16  outdoor              3002 non-null   float64
 17  short_id             8930 non-null   int64
 18  company_name         8293 non-null   object
 19  m√®tres carr√©s        8930 non-null   int64
 20  commune              8930 non-null   object
dtypes: float64(4), int64(4), object(13)
memory usage: 1.4+ MB

#### condition, heatingtype,room_number and company_name need to be dealt with

In [95]:
data["heatingType"].fillna(method='pad',inplace=True)
data["condition"].fillna(method='pad',inplace=True)
data["room_number"].fillna(method='pad',inplace=True)

In [97]:
data["company_name"].fillna("No agency",inplace=True)

In [98]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8930 entries, 0 to 8929
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   8930 non-null   int64
 1   type                 8930 non-null   object
 2   subtype              8930 non-null   object
 3   price                8930 non-null   object
 4   transactionType      8930 non-null   object
 5   zip                  8930 non-null   int64
 6   visualisationOption  8930 non-null   object
 7   cuisine_type         8930 non-null   object
 8   constructionYear     8930 non-null   float64
 9   condition            8930 non-null   object
 10  heatingType          8930 non-null   object
 11  room_number          8930 non-null   float64
 12  atticExists          8930 non-null   object
 13  basementExists       8930 non-null   object
 14  hasSwimmingPool      8930 non-null   object
 15  indoor               3693 non-null   float64
 16  outdoor              3002 non-null   float64
 17  short_id             8930 non-null   int64
 18  company_name         8930 non-null   object
 19  m√®tres carr√©s        8930 non-null   int64
 20  commune              8930 non-null   object
dtypes: float64(4), int64(4), object(13)
memory usage: 1.4+ MB

TODO :Indoor and outdoor could probably be merge