# One Hot encoding

In [217]:
#imports
import pandas as pd

csv = "data_quick_clean.csv"
data = pd.read_csv(csv)

In [218]:
pd.options.display.max_columns = None

In [219]:
len(data.columns)

20

In [220]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19855 entries, 0 to 19854
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           19855 non-null  int64
 1   id                   19855 non-null  int64
 2   type                 19855 non-null  object
 3   subtype              19855 non-null  object
 4   price                19855 non-null  object
 5   transactionType      19855 non-null  object
 6   zip                  19855 non-null  int64
 7   visualisationOption  19855 non-null  object
 8   cuisine_type         19855 non-null  object
 9   constructionYear     19851 non-null  float64
 10  condition            19853 non-null  object
 11  heatingType          19853 non-null  object
 12  room_number          19853 non-null  float64
 13  atticExists          19855 non-null  bool
 14  basementExists       19855 non-null  bool
 15  hasSwimmingPool      19855 non-null  bool
 16  short_id             19855 non-null  int64
 17  company_name         19855 non-null  object
 18  mètres carrés        19855 non-null  int64
 19  commune              19855 non-null  object
dtypes: bool(3), float64(2), int64(5), object(10)
memory usage: 2.6+ MB

In [221]:
data["type"].value_counts()

house              9568
apartment          8616
apartment group    1318
house group         353
Name: type, dtype: int64

In [222]:
data["subtype"].value_counts()

house                   6738
apartment               6535
apartment group         1318
villa                   1261
duplex                   566
penthouse                493
ground floor             443
apartment block          362
house group              353
mixed use building       327
flat studio              269
exceptional property     265
mansion                  201
service flat             148
town house               112
loft                     110
country cottage           99
bungalow                  79
triplex                   41
farmhouse                 41
manor house               30
other property            26
chalet                    15
castle                    12
kot                       11
Name: subtype, dtype: int64

In [223]:
data["condition"].value_counts()

as new            8826
good              6157
just renovated    1603
to renovate       1585
to be done up     1567
to restore         115
Name: condition, dtype: int64

In [224]:
data["cuisine_type"].value_counts()

No infos              6951
installed             6380
hyper equipped        2879
semi equipped         1333
usa hyper equipped    1155
not installed          706
usa installed          346
usa semi equipped       92
usa uninstalled         13
Name: cuisine_type, dtype: int64

In [225]:
#data["company_name"].value_counts()

In [226]:
#data["room_number"].value_counts()

In [227]:
data["heatingType"].value_counts()

gas         14945
fueloil      3486
electric     1056
pellet        273
wood           54
carbon         33
solar           6
Name: heatingType, dtype: int64

# ^ Type de données propices à un "Hot encoding"

##  data["heating_type_test"]

In [228]:
data["heating_type_test"] = pd.Categorical(data["heatingType"])

In [229]:
data_dummies = pd.get_dummies(data["heating_type_test"],prefix="heating_with")

In [230]:
del data["heatingType"]

In [231]:
data =pd.concat([data,data_dummies],axis=1)

## data["condition"]

In [232]:
data["condition_test"]=pd.Categorical(data["condition"])

In [233]:
data_dummies = pd.get_dummies(data["condition_test"],prefix="condition_is ")

In [234]:
del data["condition"]

In [235]:
data = pd.concat([data,data_dummies],axis=1)

In [236]:
data["type_test"] = pd.Categorical(data["type"])

In [237]:
data_dummies = pd.get_dummies(data["type_test"],prefix="is")

In [238]:
del data["type"]

In [239]:
data = pd.concat([data,data_dummies],axis=1)

## data["subtype"]

In [240]:
data["subtype_test"] = pd.Categorical(data["subtype"])

In [241]:
data_dummies = pd.get_dummies(data["subtype_test"],prefix="subtype_is")

In [242]:
del data["subtype"]

In [243]:
data = pd.concat([data,data_dummies],axis=1)

In [244]:
del data["condition_test"]
del data["type_test"]
del data["heating_type_test"]
del data["subtype_test"]

In [245]:
data.columns

Index(['Unnamed: 0', 'id', 'price', 'transactionType', 'zip',
       'visualisationOption', 'cuisine_type', 'constructionYear',
       'room_number', 'atticExists', 'basementExists', 'hasSwimmingPool',
       'short_id', 'company_name', 'mètres carrés', 'commune',
       'heating_with_carbon', 'heating_with_electric', 'heating_with_fueloil',
       'heating_with_gas', 'heating_with_pellet', 'heating_with_solar',
       'heating_with_wood', 'condition_is _as new', 'condition_is _good',
       'condition_is _just renovated', 'condition_is _to be done up',
       'condition_is _to renovate', 'condition_is _to restore', 'is_apartment',
       'is_apartment group', 'is_house', 'is_house group',
       'subtype_is_apartment', 'subtype_is_apartment block',
       'subtype_is_apartment group', 'subtype_is_bungalow',
       'subtype_is_castle', 'subtype_is_chalet', 'subtype_is_country cottage',
       'subtype_is_duplex', 'subtype_is_exceptional property',
       'subtype_is_farmhouse', 'subtype_is_flat studio',
       'subtype_is_ground floor', 'subtype_is_house', 'subtype_is_house group',
       'subtype_is_kot', 'subtype_is_loft', 'subtype_is_manor house',
       'subtype_is_mansion', 'subtype_is_mixed use building',
       'subtype_is_other property', 'subtype_is_penthouse',
       'subtype_is_service flat', 'subtype_is_town house',
       'subtype_is_triplex', 'subtype_is_villa'],
      dtype='object')

In [246]:
len(data.columns)

58

On peut encore supprimer des colonnes peu pertinentes

In [247]:
del data["id"]
del data["cuisine_type"]
del data["zip"]
del data["transactionType"]
del data["short_id"]
del data["company_name"]

In [248]:
data["room_number"].fillna(data["room_number"].median(),inplace=True)

In [249]:
data.head(25)

,Unnamed: 0,price,visualisationOption,constructionYear,room_number,atticExists,basementExists,hasSwimmingPool,mètres carrés,commune,heating_with_carbon,heating_with_electric,heating_with_fueloil,heating_with_gas,heating_with_pellet,heating_with_solar,heating_with_wood,condition_is _as new,condition_is _good,condition_is _just renovated,condition_is _to be done up,condition_is _to renovate,condition_is _to restore,is_apartment,is_apartment group,is_house,is_house group,subtype_is_apartment,subtype_is_apartment block,subtype_is_apartment group,subtype_is_bungalow,subtype_is_castle,subtype_is_chalet,subtype_is_country cottage,subtype_is_duplex,subtype_is_exceptional property,subtype_is_farmhouse,subtype_is_flat studio,subtype_is_ground floor,subtype_is_house,subtype_is_house group,subtype_is_kot,subtype_is_loft,subtype_is_manor house,subtype_is_mansion,subtype_is_mixed use building,subtype_is_other property,subtype_is_penthouse,subtype_is_service flat,subtype_is_town house,subtype_is_triplex,subtype_is_villa
0,0,336000 - 610000,xl,2017.0,3.0,False,False,False,94,Bruxelles,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,165000 - 420000,xl,2017.0,3.0,False,False,False,64,Marcinelle,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2,1550000,xl,2017.0,3.0,False,False,False,213,Ixelles,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,3,195000,xl,2014.0,2.0,False,False,False,75,Renaix,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,4,320000,xl,2017.0,3.0,False,True,False,130,Anderlecht,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,5,715000,xl,2020.0,2.0,False,True,False,126,Kraainem,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,6,235000,xl,2013.0,3.0,False,False,False,149,Couillet,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
7,7,224500,xl,1950.0,1.0,False,False,False,52,Uccle,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,8,127000 - 166000,xl,1962.0,1.0,False,False,False,19,Auderghem,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9,9,780000,xl,1962.0,3.0,False,True,False,190,Uccle,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10,10,210000,xl,2020.0,2.0,False,True,False,77,Ans,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
11,11,250000,xl,2020.0,2.0,False,True,False,97,Ans,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
12,12,165000 - 449000,xl,1969.0,2.0,False,False,False,58,Wielsbeke,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13,13,358000,xl,1969.0,2.0,False,True,False,85,Gand,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
14,14,360500,xl,1918.0,2.0,False,True,False,114,Anvers,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
15,15,199000,xl,2004.0,2.0,False,True,False,87,Blankenberge,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
16,16,288000,xl,1991.0,2.0,False,True,False,88,Anderlecht,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
17,17,210000 - 225000,xl,2022.0,2.0,False,False,False,78,Bois%20de%20Villers,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
18,18,239500,xl,2022.0,0.0,False,False,False,46,Auderghem,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
19,19,320000,xl,2019.0,1.0,False,False,False,57,Sint-Idesbald,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
20,20,229000,xl,1975.0,1.0,False,True,False,52,Etterbeek,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
21,21,614000 - 614000,xl,2015.0,1.0,False,False,False,250,LAKEN,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
22,22,265000,xl,2015.0,1.0,False,False,False,76,Gentbrugge,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
23,23,169000,xl,1960.0,2.0,False,True,False,70,Molenbeek-St-Jean,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
24,24,155000 - 200000,xl,1966.0,2.0,False,False,False,61,Seneffe,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [251]:
#Exports
data.to_csv("hot_encoding.csv")